<app-indicator [isLoading]="isLoading"></app-indicator>
<ng-container *ngIf="cuisines">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Cuisines</h2>
      </div>
      <div class="col-md-6">
        <button (click)="createCuisine()" mat-raised-button>Create Cuisine</button>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col-md-12">
        <mat-table [dataSource]="cuisines!">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
            <mat-cell *matCellDef="let cuisine"> {{cuisines!.data.indexOf(cuisine) + 1}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let cuisine">
              <ng-container *ngIf="cuisine.image">
                <div class="image-container">
                  <img
                    [ngSrc]="cuisine.image"
                    alt="sport type image"
                    class="img"
                    height="50"
                    width="50"
                  />
                  <div class="edit-button-container">
                    <input #fileInput (change)="onFileChange($event, cuisine.id)" hidden type="file" />
                    <button (click)="clickInputFile(fileInput)" class="edit-button">
                      Edit
                    </button>
                  </div>
                </div>
              </ng-container>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nameEng">
            <mat-header-cell *matHeaderCellDef> Name in English</mat-header-cell>
            <mat-cell *matCellDef="let cuisine"> {{cuisine.nameEng}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nameArb">
            <mat-header-cell *matHeaderCellDef> Name in Arabic</mat-header-cell>
            <mat-cell *matCellDef="let cuisine"> {{cuisine.nameArb}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="numberOfViews">
            <mat-header-cell *matHeaderCellDef> Number Of Views</mat-header-cell>
            <mat-cell *matCellDef="let cuisine"> {{cuisine.cuisineView.views}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="enabled">
            <mat-header-cell *matHeaderCellDef> status</mat-header-cell>
            <mat-cell *matCellDef="let cuisine"> {{cuisine.enable}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let cuisine">
              <button [matMenuTriggerFor]="menuRef" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuRef="matMenu" [overlapTrigger]="false">
                <button (click)="updateCuisine(cuisine)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteCuisine(cuisine)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</ng-container>
