<!DOCTYPE html>
<html lang="en">
<head>
    <title>OTP Code</title>
</head>
<body>
<h1>Welcome to Kuwait Food Truck</h1>
<p>Your OTP code is: <b><a href="">{{ otp }}</a></b></p>
<p>Please enter this code on the app to verify your email address.</p>
<p>Thank you for using Kuwait Food Truck.</p>
</body>
</html>
