<div [formGroup]="informationForm!">
  <div class="row">
    <button mat-icon-button class="float-end" (click)="addWorkingDay()">
      <mat-icon>add</mat-icon>
    </button>
    <!-- dynamic table for working hours -->
    <ng-container formArrayName="FoodTruckWorkingDay">
      <ng-container *ngFor="let control of workingDays.controls; let i = index">
        <div class="row" [formGroupName]="i">
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Day</mat-label>
              <mat-select
                formControlName="day"
                [required]="true"
              >
                <mat-option *ngFor="let day of days" [value]="day.name">{{day.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Working From</mat-label>
              <input matInput type="time-local" formControlName="workingFrom">
            </mat-form-field>
          </div>
          <div class="col-md-4 d-flex flex-row">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Working To</mat-label>
              <input matInput type="time-local" formControlName="workingTo">
              <button matSuffix mat-icon-button color="warn" (click)="removeWorkingHour(i)" [hidden]="i === 0">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Food Truck Instagram Account</mat-label>
        <input formControlName="instagramAccount" matInput required type="text"/>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label for="phoneNumber">Phone Number</mat-label>
        <input matInput type="phoneNumber" id="phoneNumber" formControlName="phoneNumber">
      </mat-form-field>
    </div>
  </div>
</div>
